.leftBg {
  background-image: url('/bg/left-blur-bg.png');
  background-position: left, center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rightBg {
  background-image: url('/bg/right-blur-bg.png');
  background-position: right, center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heroSection, .marqueSection {
  max-width: 1440px;
  max-height: 1024px;
  margin: 0 auto;
}

.bgTop {
  background-image: url('/bg/top-blur-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heroSection {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  padding: 64px 32px 32px;
  gap: 64px;
}

.heroSectionLeft {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 128px;
}

.heroSectionRight {
  width: 100%;
  max-width: 562px;
}

.heroTagList {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.heroTagList li {
  display: flex;
  align-items: center;
}

.heroTagList li::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #DC1F26;
  margin-right: 16px;
  vertical-align: middle;
  flex-shrink: 0;
}

.ratingContainer {
  margin-top: auto;
  padding: 16px;
  background-color: rgba(255,255,255,0.07);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  gap: 16px;
  width: fit-content;
}

.ratingContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-right: 8px;
}

.marqueSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  padding: 64px 32px 32px;
}

.splitSection {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  max-height: 1024px;
  margin: auto;
  padding: 32px;
  gap: 32px;
}

.carouselContainer {
  max-width: 700px;
  height: 100%;
  display: flex;
  align-items: center;
}

.serviceSectionIntro {
  align-self: end;
  padding-bottom: 120px;
}

.howItWorks {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px;
  /* background: linear-gradient(
    to top,
    #0B0B0D 0%,
    rgba(11, 11, 13, 0) 100%
  ); */
}

.howItWorksIntro {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.howItWorksIntro > h2, .howItWorksIntro > p {
  width: 45%;
  display: flex;
  justify-content: flex-start;
}

.howItWorksIntro img {
  width: 60%;
  height: auto;
  max-width: 1024px;
}

.howItWorksTagList {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 32px;
}

.howItWorksTagList li {
  display: flex;
  align-items: center;
}

.howItWorksTagList li::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #DC1F26;
  margin-right: 16px;
  vertical-align: middle;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .heroSection {
    flex-direction: column;
    max-height: unset;
    height: 100%;
    padding: 0;
  }
  .heroSectionLeft {
    align-items: center;
    max-height: calc(100vh - 64px);
    min-height: calc(100vh - 64px);
    padding: 64px 32px 32px;
  }
  .heroSectionRight {
    min-height: 100%;
    margin: 0 auto;
  }
  .heroSectionLeft * {
    text-align: center;
  }
  .heroTagList {
    margin: auto 0;
  }
  .splitSection {
    flex-direction: column-reverse;
    max-height: none;
  }
  .howItWorks {
    gap: 32px;
    min-height: 100%;
  }
  .howItWorksIntro {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
  }
  .howItWorksIntro > h2, .howItWorksIntro > p {
    width: 100%;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .serviceSection {
    flex-direction: column-reverse;
    max-height: none;
  }

  .serviceSectionIntro {
    align-self: flex-start;
    padding-bottom: 0;
  }
}