.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  position: absolute;
  top: 32px;
  padding: 0 32px;
  z-index: 99;
  width: 100%;
  max-width: 1440px;
  left: 50%;
  transform: translateX(-50%);
}

.headerMenu {
  display: flex;
  align-items: center;
  gap: 64px
}

.textMenuList {
  list-style: none;
  display: flex;
  align-items: center;
}

.textMenuList li button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-text);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.textMenuList li button p {
  color: var(--color-text);
  opacity: 0.8;
}

.textMenuList li button:hover p {
  color: var(--color-primary) !important;
  opacity: 1;
}

.textMenuList {
  gap: 64px;
  opacity: 1;
  transform: translateY(0);
  transition: all 0.4s ease;
}